! -*- ospf -*-
!
! OSPFd sample configuration file
!
!
!hostname ospfd
!password zebra
!enable password please-set-at-here
!
router ospf
  network 10.25.23.0/24 area 0
  network 10.25.223.0/24 area 0
!
log stdout

